 /* Viewport <= 340px */
 @media only screen and (max-width:340px){
     .header .main-menu .navbar,
     .site-main .site-banner
     {
         padding: 4%;
         margin:0;
     }
     .site-main .about,
     .site-main .skills {
         padding: 10%;
         margin:0;
     }
     .site-main .site-banner .banner-image{
         visibility: hidden;
     }
     .site-main .site-banner .site-buttons{
         padding-right:50px;
     }
     .site-main .site-banner .site-title h1{
         font-size: 38px;
     }
     .site-main .site-banner .site-title h4{
         font-size: 25px;
     }
 }
