
 /* Fonts */
 @import url(./fonts.css);
 @import url(./partials/variables.css);
 @import url(./partials/global.css);

 /* Start Navbar */
 .header .main-menu .navbar{
     padding: 1rem 7rem;
 }
 .header .main-menu .nav-item .nav-link{
     font-family: var(--ubuntu);
     text-transform: uppercase;
     font-weight: 500;
     padding:1.5rem;
     color: var(--title-color)
 }

 .header .main-menu .navbar-nav .active a{
     background: var(--gradient-color);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .header .main-menu .navbar-nav a:hover{
     background: var(--gradient-color);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }
 /* End Navbar */

 /* Banner */
 .site-main .site-banner{
     padding: 5em 20rem;
 }

 .site-main .site-banner .site-title h3{
     padding-top: 20%;
     font-weight: 500;
 }

 .site-main .site-banner .site-title h3::after{
     content:"";
     height:2px;
     width:18vw;
     background: var(--gradient-color);
     display: inline-block;
     margin-left: 5%;
     transform: translateY(-20px);
 }

 .site-main .site-banner .site-title h4::after{
     content:"";
     height:2px;
     width:28vw;
     background: var(--gradient-color);
     display: inline-block;
     transform: translateY(-5px);
 }

 .site-banner h4{
     font-size: xx-large;
 }
 /* End Banner */

 /* About */
 .site-main .about .about-image{
     border-radius: 50%;
 }

 .site-main .about .resume-button{
     text-decoration: none;
     color:black;
 }
 .site-main .about .resume-button a:hover{
     text-decoration: none;
     color:black;
 }

 .site-main .about .about-title h2 > span{
     display: block;
     font: normal bold 49px/60px var(--ubuntu);
     letter-spacing: 30px;
 }

 .site-main .about .about-title .paragraph > p{
     padding: .4rem 0;
 }
 .site-main .about{
     padding: 12.5rem 20rem;
 }
 /* End About */

 /* Skills */

 .site-main .skills{
     padding: 5rem 20rem;
 }

 .site-main .skills .first-row .col-lg-4{
     display: flex;
     justify-content: center;
 }

 .site-main .skills .first-row .col-lg-4 > .single-skill{
     border: 1px solid var(--border-color);
     text-align: center;
     padding: 1.8rem 0rem;
     margin: .9rem 0rem;
     width:180px;
     height:100px;
     cursor:pointer;
     transition: transform .4s ease;
 }
 .site-main .skills .first-row .col-lg-4 > .single-skill > img{
     width:25%;
 }

 .site-main .skills .first-row .col-lg-4 > .single-skill:hover{
     box-shadow: var(--box-shadow);
     transform:scale(1.3);
 }

 .site-main .skills .first-row .col-lg-4 > .single-skill:hover > img{
     filter: brightness(1.5);
 }

 .site-main .skills .skills-title h2 > span{
     display: block;
     font: normal bold 49px/60px var(--ubuntu);
     letter-spacing: 20px;
 }

 .site-main .skills .experiences .exp-images{
     width:40%;
 }

 .site-main > .skills .experiences{
     background: white;
     padding: 2rem 0;
     width: 16rem;
     margin: 5rem .5rem;
     cursor:pointer;
     transition: box-shadow .7s ease;
 }

 .site-main > .skills .experiences:hover{
     box-shadow: var(--box-shadow);
 }
 /* End Skills */

 /* Contact */
 .site-main .project-area{
     padding:5rem 0;
 }

 .site-main .project-area .project-title p{
     padding: 1rem 0;

 }

 .site-main .project-area .project-title h1{
     padding: 1rem 0;
     font: normal bold 49px/60px var(--ubuntu);
     letter-spacing: 20px;
 }

 .site-main .project-area .project{
     background: rgba(200,250,250,.5);
     box-shadow: var(--box-shadow);
     margin: 3rem 1rem;
 }

 .site-main .project-area .project .project-img{
     padding: 2rem;
 }

 .site-main .project-area .project .project-info{
     padding-top: 2rem;
     cursor:pointer;
     transition: box-shadow .7s ease;
 }

 .site-main .project-area .project .project-info:hover{
     box-shadow: var(--box-shadow);
 }

 .site-main .project-area .project .project-info h4{
     font:normal 500 21px/20px var(--ubuntu);
 }
 .site-main .project-area .project .project-info p {
     font-size: 14px;
 }
 .site-main .project-area .project .owl-carousel .owl-item{
     display:flex;
     justify-content:  center;
     padding: 0 1.5rem;
 }

 #projects > div.container.carousel.py-lg-5 > div > div.owl-dots > button.owl-dot.active > span{
     background: var(--primary-color);
 }
 /* End Contact */

 /* Footer */
 footer.footer-area{
     padding: 2rem 0;
 }

 footer.footer-area .social h5{
     font: normal 500 23px/30px var(--ubuntu);
 }

 footer.footer-area .social a> i{
     font-size: 22px;
     padding: 2rem;
     color: var(--primary-color);
 }

 footer.footer-area .social a:hover > i{
    color: lightskyblue;
 }
 /* End Footer */
